* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}


body {
    background-color: #f9f8f4;
}

h1 {
    font-family: 'Saira Extra Condensed', sans-serif;
}

a, p {
    font-size: 1rem;
    color: #292723;
    font-weight: 400;
}

hr {
    width: 100%;
    height: 3px;
    color: #ccb686;
    border-width: 0;
    background-color: #ccb686;
}

.wrapper {
    width: 1170px;
    height: 125px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* -----logo----- */
.wrapper .logo {
    width: 175px;
    height: 95px;
}

.logo img {
    width: 100%;
    height: 95px;
}

/* --------nav main menu------ */
nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    padding: 15px 10px;
    position: relative;
}


nav ul li a {
    padding: 15px 0px;
    text-decoration: none;
}

.arrow {
    border: solid black;
    border-width: 0 1.3px 1.3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    top: 0;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: -3px;
}

nav ul li a i{
    position: relative;
    right: -8px;
}

nav ul li a:hover {
    color: #76562e;
}

nav ul li a:hover i.arrow {
    border: solid #76562e;
    border-width: 0 1.3px 1.3px 0;
    /* display: inline-block;
    padding: 3px; */
}


/* -------sub menu------ */
nav ul li ul.dropdown-menu{
    min-width: 100px;
    position: absolute;
    display: none;
    padding: 8px 10px;
    left: 0px;
    top: 87px;
    background-color: #f9f8f4;
    border: 1px solid #ccb686;
    border-top: 1px solid #f9f8f4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; 
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    z-index: 999;
}
nav ul li ul.dropdown-menu li {
    min-width: 100px;
    padding: 7px 0;
}

nav ul li ul.dropdown-menu li a {
    line-height: 20px;
}


/* ------- log search------ */
.log-search-wrapper {
    width: 260px;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log-search {
    width: 260px;
    height: 100%;
}

.log-search .log {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.log-search .log a {
    font-size: 0.85rem;
    text-decoration: none;
}

.log-search .log a:hover {
    color: #76562e;
}

.log-search .search {
    width: 100%;
    position: relative;
    margin-top: 12px;
}

.log-search .search .search-with-icon {
    width: 83%;
    border-bottom: 1px solid black;
    position: relative;
}

.log-search .search .search-with-icon input {
    width: 80%;
    font-size: 0.9rem;
    padding: 10px 0;
    background-color: #f9f8f4;
    border: none;
}

.log-search .search .search-with-icon input:focus {
    outline: none;
}

.log-search .search .search-with-icon a i.fa-search {
    font-size: 1.1rem;
    color: #403e3b;
    position: absolute;
    bottom: 10px;
    right: 0;
}

.log-search .search a i.fa-shopping-cart{
    font-size: 1.1rem;
    color: #383836;
    position: absolute;
    bottom: 10px;
    right: 0;
}

.hamburger {
    display: none;
}

.bar1, .bar2, .bar3 {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

header hr {
    width: 100%;
    height: 1px;
    color: #ccb686;
    border-width: 0;
    background-color: #ccb686;
}

/* --------responsive-------- */
@media only screen and (max-width: 1200px) {
    .wrapper {
        width: 95%;
    }

    .log-search-wrapper {
        width: 320px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar1 {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar2 {
        opacity: 0;
    }

    .hamburger.active .bar3 {
        transform: translateY(-8px) rotate(-45deg);
    }

    nav {
        width: 100%;
        min-height: 50vh;
        position: fixed;
        right: -100%;
        top: 8rem;
        flex-direction: column;
        background-color: #ccb686;
        border-radius: 10px;
        text-align: left;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 999;
        overflow: auto;
    }

    nav.active {
        right: 0;
    }

    nav ul {
        display: block;
    }

    nav ul li ul.dropdown-menu {
        position: relative;
        top: 10px;
        background-color: #ccb686;
        border: 1px solid #ccb686;
        padding: 8px 20px;
        box-shadow: 0 4px 2px -2px lightgray;
    }
    nav ul li ul.dropdown-menu li a {
        font-size: 0.95rem;
    }
}

@media(max-width: 600px) {
    .wrapper .logo {
        width: 90px;
    }

    .log-search-wrapper {
        width: 250px;
    }

    .log-search {
        width: 80%;
    }
}

@media(max-width: 400px){
    .wrapper .logo {
        width: 75px;
    }

    .log-search-wrapper {
        width: 225px;
    }
}


/* -------slider category------- */
.slideShow-container {
    width: 1170px;
    height: 275px;  
    margin: 30px auto;
    position: relative;
}

.slides {
    display: none;
}

.slides img {
    width: 100%;
    height: 275px;
}

.prev, .next {
    width: auto;
    display: inline-block;
    padding: 10px;
    margin-left: 40px;
    border: solid #be8510;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 50%;
    user-select: none;
    transition: 0.6s ease;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.next {
    right: 0;
    margin-right: 40px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  

.prev:hover, .next:hover {
    border: solid #9d7111;
    border-width: 0 2px 2px 0;
    cursor: pointer;
}

.bannerText-container {
    position: absolute;
    width: 470px;
    height: 225px;
    right: 10%;
    top: 9%;
    background-color: rgba(236, 236, 236, 0.1);
    text-align: center;
}

.bannerText-container h1 {
    font-size: 42px;
    font-weight: 500;
    color: #f8f3ea;
    margin-top: 10px;
}

.bannerText-container p {
    font-size: 16px;
    color: #b6a89c;
    line-height: 1.5rem;
    margin: 0px 20px;
}

.bannerText-container button{
    color: white;
    background-color: #bb8511;
    border: 1px solid #cda575;
    padding: 15px 40px;
    font-size: 1rem;
    margin-top: 25px;
    font-weight: 600;
    letter-spacing: 3px;
}

.bannerText-container button:hover {
    background-color: #9d7116;
    cursor: pointer;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    left {opacity: 1}
}

@-webkit-keyframes fade {
    form {opacity: .4}
    to {opacity: 1}
}

@media(max-width: 1200px) {
    .slideShow-container {
        width: 95%;
    }
}

@media(max-width: 620px) {
    .prev, .next {
        padding: 7px;
        margin-left: 25px;
    }

    .next {
        margin-right: 25px;
    }

    .bannerText-container {
        width: 80%;
    }

    .bannerText-container h1 {
        font-size: 30px;
    }

    .bannerText-container button {
        padding: 10px 25px;
    }
}

@media(max-width: 400px) {
    .bannerText-container p {
        line-height: 1.2rem;
    }

    .bannerText-container button {
        margin-top: 12px;
    }
}


/* -------service features section------- */
.service-features {
    width: 1170px;
    /* height: 75px; */
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sf-col {
    width: 250px;
    display: flex;
    align-items: center;
}

.sf-col .sf-icons {
    width: 60px;
    height: 60px;
    border: 1px solid #676566;
    border-radius: 50% 50%;
    display: flex;
}

.sf-icons img {
    width: 60%;
    height: 60%;
    margin: auto;
}

.sf-p {
    width: 170px;
    margin-left: 15px;
}

.sf-col p {
    font-weight: bold;
}

@media(max-width: 1200px) {
    .service-features {
        width: 95%;
    }
}

@media(max-width: 1100px) {
    .service-features {
        flex-wrap: wrap;
    }

    .sf-col {
        width: 46%;
    }

    .sf-p {
        width: 70%;
    }
    
    .service-features > div:nth-of-type(1){
        margin-bottom: 20px;
    }

    .service-features > div:nth-of-type(2){
        margin-bottom: 20px;
    }
}

@media(max-width: 600px) {
    .sf-col {
        width: 85%;
    }

    .service-features > div:nth-of-type(3){
        margin-bottom: 20px;
    }
}


/* -------main container-------- */
.main-container {
    width: 1170px;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid #efefea;
}

.main-container-wrapper {
    width: 1110px;
    margin: 30px;
    /* border: 1px solid red; */
}


/* -------product features------- */
.product-features {
    width: 100%;
}

/* --------pf row------- */
.pf-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pf-col {
    width: 540px;
    height: 275px;
    position: relative;
}

.pf-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* background-color: rgba(0, 0, 0, 0.05); */
}

.pfText-container {
    width: 500px;
    height: 150px;
    background-color: rgba(236, 236, 236, 0.1);
    /* border: 1px solid green; */
    position: absolute;
    bottom: 10%;
    right: 3.9%;
    text-align: center;
}

.pfText-container h1{
    font-size: 40px;
    font-weight: 600;
    margin-top: 15px;
    color: #cdb98d;
}

.pfText-container h1:hover {
    color: #ffffff;
    cursor: pointer;
}

.pfText-container p {
    font-size: 16px;
    color: whitesmoke;
    /* color: #b6a89c; */
    line-height: 1.5rem;
    margin: 0px 30px;
}

/* @media(max-width: 1200px) {
    .main-container {
        width: 95%;
    }

    .main-container-wrapper {
        width: 94.8%;
        margin: 2.5%;
    }

    .pf-col {
        width: 48.65%;
    }

    .pfText-container{
        width: 92.5%;
    }
}

@media(max-width: 900px) {
    
    .main-container-wrapper {
        width: 92%;
        margin: 4%;
    }
    
    .pf-row {
        flex-direction: column;
    }

    .pf-col {
        width: 100%;
    }

    .pf-row > div:nth-of-type(1) {
        margin-bottom: 30px;
    }
}

@media(max-width: 450px) {
    .pfText-container h1 {
        font-size: 30px;
        margin-top: 8px;
    }

    .pfText-container p {
        line-height: 1.2rem;
        margin: 0 10px;
    }
} */


/* ---------product features row 2-------- */
.product-features > div:nth-of-type(2) {
    margin: 30px 0;
}

.pf-row2-col {
    width: 350px;
}

.pf-row2-tc {
    width: 310px;
    height: 165px;
    right: 5.6%;
}

.pf-row2-tc p {
    margin: 0 10px;
}


@media(max-width: 1200px) {
    .main-container {
        width: 95%;
    }

    .main-container-wrapper {
        width: 94.8%;
        margin: 2.5%;
    }

    .pf-col {
        width: 48.65%;
    }

    .pf-row2-col {
        width: 31.54%;
    }

    .pf-row2-tc {
        right: 3.6%;
    }

    .pf-row2-tc h1 {
        margin-top: 10px;
    }

    .pfText-container{
        width: 92.5%;
    }
}

@media(max-width: 1030px) {
    .pf-row2 {
        flex-wrap: wrap;
    }

    .pf-row2-col {
        width: 48.65%;
    }

    .pf-row2 > div:nth-of-type(1) {
        margin-bottom: 30px;
    }

    .pf-row2 > div:nth-of-type(2) {
        margin-bottom: 30px;
    }
}

@media(max-width: 900px) {
    
    .main-container-wrapper {
        width: 92%;
        margin: 4%;
    }
    
    .pf-row {
        flex-direction: column;
    }

    .pf-col, .pf-row2-col {
        width: 100%;
    }

    .pf-row > div:nth-of-type(1) {
        margin-bottom: 30px;
    }
}

@media(max-width: 450px) {
    
    .pfText-container h1 {
        font-size: 30px;
        margin-top: 8px;
    }

    .pfText-container p {
        line-height: 1.2rem;
        margin: 0 10px;
    }
}



/* ----------featured products----------- */
.featured-products {
    width: 100%;
    /* border: 1px solid black; */
}

.fp-title {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.fp-title h1 {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
}

.prev-next {
    width: 85px;
    height: 100%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
}

.prev-next-wrapper {
    width: 35px;
    height: 35px;
    /* border: 1px solid red; */
    background-color: #d9d9d9;
}

.prev-next-wrapper:hover {
    background-color: #9d7114;
    cursor: pointer;
}

.fp-prev, .fp-next {
    width: auto;
    display: inline-block;
    padding: 4px;
    /* margin: 12px 12px; */
    margin-top: 13px;
    margin-left: 16px;
    border: 1px solid white;
    border-width: 0 1px 1px 0;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.fp-next {
    margin-left: 10px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


/* ---------products card---------- */
.product-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pc-col {
    width: 250px;
    height: 320px;
    /* border: 1px solid red;   */
}

.pc-col img {
    width: 250px;
    height: 250px;
    margin-bottom: 15px;
}

.pc-col p {
    font-size: 16px;
    font-weight: 600;
    color: #ac9156;
}

.pc-col p:nth-child(3) {
    color: black;
    font-weight: 400;
    margin-top: 15px;
}

.product-card>div:nth-child(2) {
    margin-right: 10px;
}

.product-card>div:nth-child(3) {
    margin-left: 10px;
}

